In [2]:
import pandas as pd;
import numpy as np;

In [3]:
df =pd.read_csv("./train.csv");
display(df.head(2));

,neighbourhood_group,room_type,minimum_nights,amenity_score,number_of_reviews,availability_365,price_class
0,Manhattan,NaN,2.0,82.5,15.0,254.0,3
1,Manhattan,Private room,2.0,53.7,1.0,0.0,1

In [5]:
print("Number of rows=",len(df));

Number of rows= 41348

In [10]:
cols=df.columns.tolist();
print("Columns ",cols);

Columns  ['neighbourhood_group', 'room_type', 'minimum_nights', 'amenity_score', 'number_of_reviews', 'availability_365', 'price_class']

In [ ]:
print("================= DATA TYPES ====================");
print(df.dtypes);

neighbourhood_group     object
room_type               object
minimum_nights         float64
amenity_score          float64
number_of_reviews      float64
availability_365       float64
price_class              int64
dtype: object